@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* https://unsplash.com/photos/desert-at-night-a2kD4b0KK4s */
  background-image: url('./assets/bg-black-compressed.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
  